header
  div.menu
    div.icon-wrap
      img#work-icon.icon(src=require('../assets/img/icon/work.svg') alt='work') 
      span.capital Work
    img#about-icon.icon(src=require('../assets/img/icon/trout.svg') alt='about')
    div.icon-wrap
      img#projects-icon.icon(src=require('../assets/img/icon/code.svg') alt='projects')
      span.capital Projects
nav.right
  img.logo.icon(src=require('../assets/img/icon/trout.svg') alt='trout logo')
  ul.links
    - let pages = ['about', 'work', 'projects']
    each p in pages
      li.capital(id=`${p}-link`)= p
  div.arrow.hide
