doctype html
html(lang='en')
  head
    title Kyle Trout
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='google-site-verification' content='_0rMu8TvgZUZmy7jxGKyzm0pXYqTUI7FhnNRvN9aSUk')
    meta(name='theme-color' content='#e53935')
    link(rel='icon' type='image/png' sizes='48x48' href=require('./assets/img/favicon/trout-48.png'))
    link(rel='icon' type='image/png' sizes='72x72' href=require('./assets/img/favicon/trout-72.png'))
    link(rel='icon' type='image/png' sizes='96x96' href=require('./assets/img/favicon/trout-96.png'))
    link(rel='icon' type='image/png' sizes='144x144' href=require('./assets/img/favicon/trout-144.png'))
    link(rel='icon' type='image/png' sizes='168x168' href=require('./assets/img/favicon/trout-168.png'))
    link(rel='icon' type='image/png' sizes='192x192' href=require('./assets/img/favicon/trout-192.png'))
    script.
      let host = 'kyletrout.io';
      if ((host == window.location.host) && (window.location.protocol != "https:")) window.location.protocol = "https";
  body
    header
      div.menu
        i.material-icons: a(href='#work') work
        a(href='#home'): img(src=require('./assets/img/favicon/trout.svg') alt='trout logo')
        i.material-icons: a(href='#projects') settings_ethernet
    nav.right
      img.logo(src=require('./assets/img/favicon/trout.svg') alt='trout logo')
      ul.links
        - let pages = ['home', 'work', 'projects']
        for p in pages
          li.capital: a(href=`#${p}`)= p
      div.arrow.hide
    section#home.border-box
      p I am currently a third year Computer Science major at the University of Cincinnati, Class of 2019. For now,
        | this site will serve as a main hub where I can document my experiences and further experiment with web technologies.
        |  Though still exploring opportunities in the field, I have taken a keen interest in web development. My main focus has been with front-end in particular, but
        |  I am looking to build off of my current knowledge to gain a better understanding of full stack development as a whole. During my free time, I can be found competing
        |  out on the volleyball court or shopping around to enhance my personal style.
      button.capital Resume
      button.capital Email
    section#work.border-box
      div.work.center
        div.work-wrap
          h1 Balluff
          h3 2017 - Current
      div.work.center
        div.work-wrap
          h1 Siemens PLM Software
          h3 2016
      div.work.center
        div.work-wrap
          h1 Assurex Health
          h3 2015
    section#projects.border-box
      div.project.border-box
        img(src=require('./assets/img/logo/impulse.svg') alt='impulse')
        i.material-icons expand_less
        div.proj-desc.border-box
          h1 Impulse
          a(href='https://github.com/kytrol/impulse' target='_blank'): img(src=require('./assets/img/logo/github.svg') alt='impulse github')
          p Social media site where the popular have greater influence.
      div.project.border-box
        img(src=require('./assets/img/logo/udj.png') alt='udj')
        i.material-icons expand_less
        div.proj-desc
          h1 uDj
          a(href='https://github.com/mtihlenfield/udj' target='_blank'): img(src=require('./assets/img/logo/github.svg') alt='udj github')
          p IoT jukebox allowing for collaborative music queues.
        
