doctype html
html(lang='en')
  head
    title Kyle Trout
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='google-site-verification' content='_0rMu8TvgZUZmy7jxGKyzm0pXYqTUI7FhnNRvN9aSUk')
    meta(name='theme-color' content='#e53935')
    link(rel='icon' type='image/png' sizes='48x48' href=require('./assets/img/favicon/trout-48.png'))
    link(rel='icon' type='image/png' sizes='72x72' href=require('./assets/img/favicon/trout-72.png'))
    link(rel='icon' type='image/png' sizes='96x96' href=require('./assets/img/favicon/trout-96.png'))
    link(rel='icon' type='image/png' sizes='144x144' href=require('./assets/img/favicon/trout-144.png'))
    link(rel='icon' type='image/png' sizes='168x168' href=require('./assets/img/favicon/trout-168.png'))
    link(rel='icon' type='image/png' sizes='192x192' href=require('./assets/img/favicon/trout-192.png'))
    script.
      let host = 'kyletrout.io';
      if ((host == window.location.host) && (window.location.protocol != "https:")) window.location.protocol = "https";
  body
    include includes/_header
    
    include includes/_sections
    
        
