section#projects.border-box
  figure.border-box
    svg
      use(xlink:href=`${require('../../assets/img/icon/defs.svg')}#parkshark`)
    svg.icon
      use(xlink:href=`${require('../../assets/img/icon/defs.svg')}#expand`)
    figcaption.border-box
      h1 ParkShark
      a(href=`https://github.com/andrewbrooke/parksharkweb` target='_blank') 
        svg.icon
          use(xlink:href=`${require('../../assets/img/icon/defs.svg')}#github`)
      p Web application utilizing the NPS API to connect users with national park data.
  figure.border-box
    svg
      use(xlink:href=`${require('../../assets/img/icon/defs.svg')}#impulse`)
    svg.icon
      use(xlink:href=`${require('../../assets/img/icon/defs.svg')}#expand`)
    figcaption.border-box
      h1 Impulse
      a(href=`https://github.com/kytrol/impulse` target='_blank') 
        svg.icon
          use(xlink:href=`${require('../../assets/img/icon/defs.svg')}#github`)
      p Social media site where the popular have greater influence.   
  figure.border-box
    include ../_udj-record
    svg.icon
      use(xlink:href=`${require('../../assets/img/icon/defs.svg')}#expand`)
    figcaption.border-box
      h1 uDj
      a(href=`https://github.com/mtihlenfield/udj` target='_blank') 
        svg.icon
          use(xlink:href=`${require('../../assets/img/icon/defs.svg')}#github`)
      p IoT jukebox allowing for collaborative music queues.
